branches:
  only:
  - master

language: python
python:
  - "3.7"

before_install:
  - pip install --upgrade pip
  - pip install --upgrade Cython
  - pip install --upgrade pyjnius
  - pip install torch==1.3.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
  - pip install flask
  - pip install regex
  - pip install sentencepiece

install:
  - python setup.py install
  
script:
  - bash tests/experiments/ir.sh
  - bash tests/experiments/ner.sh
  - bash tests/experiments/adversarial_ir.sh
  - bash tests/experiments/pos.sh
